# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# App binaries
account-service/build/
api-gateway-service/build/
notification-service/build/
product-service/build/
transaction-service/build/

# Configuration
account-service/.env
account-service/config.json
api-gateway-service/.env
api-gateway-service/config.json
notification-service/.env
notification-service/config.json
product-service/.env
product-service/config.json
transaction-service/.env
transaction-service/config.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
